:root {
  --primary-color: #FF6F61; /* Warm Coral Red */
  --secondary-color: #2C2C2C; /* Soft Charcoal Black */
  --default-button-bg: linear-gradient(45deg, #FF6F61, #FFB3A1); /* Vibrant Gradient for Buttons */
  --primary-button-bg: #FF6F61; /* Solid Coral Red Button */
  --primary-button-bg-hover: #FF8A80; /* Lighter Red for Hover */
  --secondary-button-bg: #F5F5F5; /* Light Gray for Secondary Buttons */
  --secondary-button-text: #FF6F61; /* Coral Red Text for Secondary Buttons */
  --inactive-tab-color: #A9A9A9; /* Soft Light Gray for Inactive Tabs */
  --like-color: #2cf2a2; /* Coral Red for Like */
  --dislike-color: #FF3B30; /* Soft Red for Dislike */
  --slider-track-color: #FF6F61; /* Coral Red for Slider Track */
  --slider-rail-color: #F5F5F5; /* Light Gray for Unfilled Track */
  --background-color: #FFFFFF; /* Bright White Background */
  --text-color: #2C2C2C; /* Dark Gray Text */
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Theme CSS : */
.light {
  background-color: white !important;
  transition: 0.3s;
}

.lightalt {
  background-color: #f0f2f4 !important;
  transition: 0.3s;
}

body.light {
  color: #000;
  transition: 0.3s;
}